body{
  background-repeat: no-repeat;
  background-attachment: fixed;
 background-size: 100% 100%;
}

.navbar-brand {
    margin-right: 0px;
}

.navbar {
    padding: 0px 25px 0px 25px;
}

ul.navbar-nav.mr-auto {
    margin-top: 5rem !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 20px;
    font-size: 16px;
    color: #717172;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #041151;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #041151;
}

.navbar-expand-lg .navbar-collapse {
    margin-top: -70px;
}

h2{
  font-family: 'open sans', sans-serif;
  font-weight: 700;
}

p{
  font-family: 'poppins',sans-serif;
  font-weight: 300;
}


main{
  background-color: rgba(228,239,231,0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  max-width: 960px;

}

.heading{
  font-family: 'Lobster', cursive;
 font-family: 'Varela Round', sans-serif;
}

.heading2{
    color: #e83e8c;
    weight: bolder;
    font-family: 'Squada One', sans-serif;
    font-weight: bolder;
}

.contribute{
  color: #e83e8c;
  weight: bolder;
  font-family: 'Squada One', sans-serif;
  font-weight: bolder;
}

h5{
  color:#3b14a7 ;
  font-family: 'Rokkitt', serif;
}

.btn{
  font-family: 'Limelight',serif;
  background-color: #3b14a7 !important;
}

.btn:hover{
  color :#e83e8c;
}

.g-recaptcha{
  margin: auto;
}


.checkbox{
  margin-left: 5px !important;
}

a{
  color:#3b14a7 ;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

a:hover{
  color: #e83e8c;
}
